<h1>Psychiatrists near you!</h1>
<% @psychiatrists.each do |psychiatrist| %>
    <div class="psych">
        <h2><a><%= psychiatrist.name %></a></h2>
        <ul class="psych_info">
            <li>Email: <%= psychiatrist.email %></li>
            <li>Reigion: <%= psychiatrist.reigion%></li>
        </ul>
    </div>
<% end %>