<h1>Create a new user!</h1>

<form action="/users" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="users[username]">
    
    <br><br>

    <label for="email">Email</label>
    <input type="text" id="email" name="users[email]">
    <br><br>

    <label for="reigion">Reigion</label>
    <input type="text" id="reigion" name="users[reigion]">
    
    <br><br>

    <input type="submit" value="Create user!">

</form>