<h1>Username: <%= @user.username %></h1>
<ul>
    <li>Email: <%= @user.email %></li>
    <li>Reigion: <%= @user.reigion %></li>
</ul>

<br><br>

<form action="/users/<%= @user.id %>/findhelp" method="get">
    <input type="submit" value="Get help">
</form>