<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevermind - Home</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag 'homepage' , media: 'all' %>
</head>
<body>
    <div class="nav-bar">
        bar
    </div>
    <div>  
        <div id="about-me" >
            <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam quidem architecto. Ducimus, iste porro aliquam laudantium iusto amet dicta laborum voluptas, labore rem officia dolore asperiores voluptatum ullam minima.</p>
        </div>
        <div id="our-journey">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aut corrupti cumque provident placeat? Dolore corporis sunt tempora hic ratione molestias corrupti eum est unde nesciunt aliquam, odio architecto similique?</p>
        </div>
        <div>

        </div>
    </div>
</body>
</html>