<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nevermind - Home</title>
   
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

</head>
<body>
    <div class="w3-bar w3-black">
        <div class="w3-bar-item w3-hover-blue"> <a href="index.html"> Home </a>
            <span class="material-icons-outlined">
                home
            </span></div>
        <div class="w3-bar-item w3-hover-blue"> <a href="#about-me"> About us</a> </div>
        <div class="w3-bar-item w3-hover-blue"> <a href="#our-journey"> Our Journey </a></div>
        <div class="w3-bar-item w3-hover-blue">Why Join us</div>
        <div class="w3-bar-item w3-hover-blue">Connect with Us</div>
        <div class="w3-bar-item w3-hover-blue">Login / Register</div>
    </div>  
    <div>
        <p id="about-me">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos magnam quidem architecto. Ducimus, iste porro aliquam laudantium iusto amet dicta laborum voluptas, labore rem officia dolore asperiores voluptatum ullam minima.</p>
    </div>
    <div id="our-journey">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae aut corrupti cumque provident placeat? Dolore corporis sunt tempora hic ratione molestias corrupti eum est unde nesciunt aliquam, odio architecto similique?</p>
    </div>
</body>
</html>